* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.glasses__card {
  position: relative;
  background-size: cover;
}
.list__glasses {
  position: absolute;
  margin: 20px 50px;
  padding: 20px;
}
.glasses__avatar {
  position: relative;
}
.glasses {
  position: absolute;
  top: 88px;
  left: 595px;
  opacity: 0.8;
}
.glasses__info {
  position: absolute;
  width: 300px;
  bottom: 4px;
  left: 533px;
}
